---
layout: framework1
banner:
banner_html: post-header.html
hidden: []
sidebar:
  - article-menu
---

<div class="post1">
  <section class="content-section">
    <!-- Your existing content here -->

    <!-- Existing code -->
    {%- assign name = 'banner' -%}
    {%- include functions.html func='get_value' -%}
    {%- assign banner = return -%}

    {%- assign name = 'hidden' -%}
    {%- include functions.html func='get_value' -%}
    {%- assign hidden = return -%}

    {%- assign result = hidden | where_exp: "item", "item == 'header'" -%}
    {%- if banner == nil and result.size == 0 -%}
    {%- include views/post-header.html -%}
    {%- endif -%}

    {%- include views/article.html -%}

    <!-- Navigation, related posts, comments sections -->
    ...
  </section>
</div>

